* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}

header {
    background-color: #2d695f;
    padding: 16px 0 ;
    color: #fff;
    display: flex;
    border-bottom: 16px solid #193833;
    justify-content: center;
    text-transform: uppercase;
    font-style: italic;
}

header button {
    margin-left: 16px;
}

form {
    background-color: #aad4cd;
    padding: 24px 0;
    text-align: center;
    display: none;
}

input, button {
    padding: 10px;
    border-radius: 16px;
    border: none;
}

button {
    border: none;
    border-radius: 16px;
    background-color: #308b38;
    color: #fff;
    cursor: pointer;
    font-weight: 800;
    text-transform: uppercase;
}

#btn-cancelar {
    background-color: #c20000;
}

ul {
    display: flex;
    flex-wrap: wrap;
}

ul li {
    max-width: 25%;
    list-style: none;
    position: relative;
    max-height: 250px;
    overflow-y: hidden;
}

ul li img {
    width: 100%;
    
}

.overlay-imagem-link {
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: all ease-in .5s;
    cursor: pointer;
}

.overlay-imagem-link a {
    color: #fff;
    text-decoration: none;
}

ul li:hover .overlay-imagem-link {
    opacity: 1;
}